:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --hoverGreen: hsl(158, 61%, 49%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --baseFontSize: 1.8rem;
    --smallFontSize: 1.4rem;
    --bigFontSize: 3.5rem;
    --largeFontSize: 4rem;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
}

.nav {
    padding: 2.5rem 16.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--white);
    z-index: 10;

    &__ul {
        display: flex;
        align-items: center;
        list-style-type: none;

        .list-item {
            margin-left: 3rem;
            font-size: 1.4rem;
            color: var(--grayishBlue);
            border-block-end: medium solid 2px;
        }
    }

    &__btn.btn--cta {
        padding: 1.25rem 3.3rem;
        background: linear-gradient(
            90deg,
            var(--limeGreen) 0%,
            var(--brightCyan) 100%
        );
        border: none;
        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
        color: var(--white);
        font-family: 'Public Sans', sans-serif;
        font-size: 1.4rem;
    }

    &__btn.btn--cta {
        cursor: pointer;
    }

    &__hamburger-menu {
        display: none;
        flex-direction: column;
        span {
            height: 0.1rem;
            width: 2.4rem;
            background-color: var(--darkBlue);
            margin: 4px;
        }
    }
    &__burger-label {
        input[type='checkbox'] {
            display: none;
        }
    }
}

.hero {
    display: flex;
    align-items: center;
    padding: 0 0 0 16.5rem;
    background-color: var(--veryLightGray);
    overflow-y: visible;
    position: relative;
    height: 69vh;

    &__heading {
        font-size: 5.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: 114%;
        letter-spacing: -1px;
        color: var(--darkBlue);
    }

    &__slogan {
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 156%;
        margin: 2.4rem 0 3.6rem;
        width: 45%;
        color: var(--grayishBlue);
        /* or 156% */

        letter-spacing: -0.28125px;
    }

    &__btn.btn--cta {
        padding: 1.25rem 3.3rem;
        background: linear-gradient(
            90deg,
            var(--limeGreen) 0%,
            var(--brightCyan) 100%
        );
        border: none;
        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
        color: var(--white);
        font-family: 'Public Sans', sans-serif;
        text-decoration: inherit;
        font-size: 1.4rem;
    }

    &__btn.btn--cta:hover {
        cursor: pointer;
    }

    &__image-container {
        background-image: url('../images/bg-intro-desktop.svg');
        background-position: bottom left;
        background-size: cover;
        background-repeat: no-repeat;
        height: 85vh;
    }
    &__image {
        object-fit: cover;
        position: relative;
        right: -130px;
        top: -50px;
        overflow-x: hidden;
    }
}

.usp {
    position: relative;
    z-index: -10;
    background-color: var(--lightGrayishBlue);
    padding: 10rem 16.5rem 9.6rem;

    &__heading {
        font-style: normal;
        font-weight: 300;
        font-size: 4rem;
        line-height: 6.4rem;

        /* identical to box height, or 160% */
        letter-spacing: -0.714286px;
        color: #2d314d;
    }

    &__description {
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: var(--grayishBlue);
        width: 63.5rem;
        margin: 1.6rem 0 7.2rem;

        /* or 156% */

        letter-spacing: -0.28125px;
    }

    &__cards-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        .card {
            &__heading {
                font-style: normal;
                font-weight: 300;
                font-size: 2.4rem;
                line-height: 2.8rem;
                /* identical to box height, or 117% */

                letter-spacing: -0.428571px;
                margin: 4rem 0rem 2.6rem;
                color: var(--darkBlue);
            }

            &__description {
                font-style: normal;
                font-weight: normal;
                font-size: 1.6rem;
                line-height: 2.6rem;
                /* or 162% */

                letter-spacing: -0.25px;
                color: var(--grayishBlue);
            }
        }
    }
}

.articles {
    background-color: var(--white);
    padding: 8rem 16.5rem 8rem;
    background-color: var(--veryLightGray);

    &__heading {
        font-style: normal;
        font-weight: 300;
        font-size: 4rem;
        line-height: 6.4rem;
        /* identical to box height, or 160% */
        margin-bottom: 4rem;
        letter-spacing: -0.714286px;
    }

    &__card-wrapper {
        display: flex;
        gap: 3rem;
        justify-content: space-between;
    }

    &__card {
        width: 25.5rem;
        height: 39.5rem;
        background-color: var(--white);

        & .card__info {
            padding: 2.5rem 2.4rem;

            & .card__heading {
                margin: 0.8rem 0;
                font-style: normal;
                font-weight: 300;
                font-size: 1.6rem;
                line-height: 2rem;
                /* or 125% */
                color: var(--darkBlue);
                letter-spacing: -0.285714px;
            }

            & .card__excerpt {
                font-style: normal;
                font-weight: normal;
                font-size: 1.3rem;
                line-height: 1.8rem;
                /* or 138% */
                color: var(--grayishBlue);
                letter-spacing: -0.203125px;
            }
        }
    }

    &__img {
        object-fit: cover;
        width: 25.5rem;
        height: 20rem;
        width: 100%;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
    }
}

.footer {
    background-color: var(--darkBlue);
    padding: 4.8rem 16.5rem;
    display: grid;
    grid-template-columns: 31.5rem 16rem 16rem 47.5rem;
    justify-content: space-between;
    gap: 13.1rem 3rem 25.5rem;

    &__social-icons-wrapper {
        margin: 2.75rem 0 0 0;
        display: flex;
        img {
            margin-right: 1.333rem;
        }
    }

    &__logo {
        margin: 0 13.1rem 2.75rem 0;
    }

    &__links-container-1,
    &__links-container-2 {
        display: flex;
        flex-direction: column;
    }

    &__links {
        color: var(--white);
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2.6rem;
        /* identical to box height, or 173% */

        letter-spacing: -0.234375px;
    }

    &__links:nth-child(2) {
        margin: 0.8rem 0;
    }

    &__links:hover {
        color: var(--hoverGreen);
    }

    &__cta {
        justify-self: flex-end;
    }

    &__btn.btn--cta {
        padding: 1.25rem 3.3rem;
        background: linear-gradient(
            135deg,
            var(--limeGreen) 0%,
            var(--brightCyan) 100%
        );
        border: none;
        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
        color: var(--white);
        font-family: 'Public Sans', sans-serif;
        text-decoration: inherit;
        font-size: 1.4rem;
        margin-left: 27%;
    }

    &__btn.btn--cta:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 5px 11px -3px #000000;
        box-shadow: 0px 5px 11px -3px #000000;
    }

    &__copyright {
        margin-top: 2.4rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2.6rem;
        /* identical to box height, or 173% */
        color: var(--grayishBlue);
        text-align: right;
        letter-spacing: -0.234375px;
    }
}

@media only screen and (max-width: 375px) {
    .nav {
        padding: 2.5rem 2.4rem;

        &__ul {
            position: fixed;
            top: -100%;
            flex-direction: column;
            background-color: var(--lightGrayishBlue);
            text-align: center;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            box-shadow: 0 5px 6px rgba(0, 0, 0, 0.05);
            height: 250px;
            width: 330px;
            margin: auto;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            justify-content: space-around;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;

            .list-item {
                font-size: 1.8rem;
                margin-left: 0;
            }
        }

        &__ul.active {
            top: 9rem;
        }
        &__cta-container {
            display: none;
        }

        &__hamburger-menu {
            display: flex;
        }

        &__burger-label {
            input[type='checkbox'] {
                display: none;
            }

            input[type='checkbox']:checked {
            }
        }
    }

    .hero {
        padding: 4rem 0 9rem;
        flex-direction: column-reverse;

        &__image {
            width: 100%;
            margin: auto;
            position: inherit;
        }

        &__image-container {
            width: 100%;
        }

        &__text-container {
            text-align: center;
            padding: 3rem 0 0 0;
        }

        &__heading {
            font-size: 4rem;
        }

        &__slogan {
            font-size: 1.5rem;
            width: 90%;
            margin: 3rem auto 5rem;
        }
    }

    .usp {
        padding: 5rem 1.75rem;
        text-align: center;

        &__heading {
            font-size: 3.2rem;
        }

        &__description {
            font-size: 1.5rem;
            width: auto;
        }

        &__cards-wrapper {
            padding: 0;
            flex-direction: column;

            & .card {
                &__heading {
                    font-size: 2rem;
                }

                &__description {
                    font-size: 1.5rem;
                    width: 92%;
                    margin: auto;
                }
            }
        }
    }

    .articles {
        padding: 3rem 0;

        &__heading {
            font-size: 3.2rem;
            text-align: center;
        }
        &__card-wrapper {
            flex-direction: column;
            width: 85%;
            margin: auto;
        }

        &__card {
            width: auto;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 4rem 0;
        grid-template-columns: 0;

        &__logo {
            margin: 0;
        }

        &__links-container-1 {
            margin-top: 3.5rem;
        }

        &__links-container-2 {
            margin-top: 1rem;
        }

        &__btn.btn--cta {
            margin: 2.75rem 0 0;
        }

        &__social-icons-wrapper {
            justify-content: center;

            img {
                margin-left: 1.333rem;
            }
        }

        &__copyright {
            text-align: center;
        }
        &__attribution {
            margin-top: 2rem;
            font-size: 1.3rem;
            color: var(--grayishBlue);

            a {
                color: var(--grayishBlue);
            }
        }
    }
}
